<div id="page_content">
    <div id="page_content_inner" id="login_form">

        <h3 class="heading_b uk-margin-bottom">Current Job Openings</h3>

        <div class="pricing_table pricing_table_a uk-grid uk-grid-small uk-grid-width-medium-1-2 uk-grid-width-large-1-4 uk-margin-large-bottom" data-uk-grid-margin data-uk-grid-match="{target:'.md-card-content'}" id="notifications">
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-bg-brown-500 md-color-white">Web Developer</div>
                        <!-- <div class="pricing_table_price">
                            <span class="currency">$</span>0
                            <span class="period">monthly</span>
                        </div> -->
                        <ul class="pricing_table_features">
                            <li><strong>Post Name :</strong></li>
                            <li>Web Developer</li>
                            <li><strong>Eligibility :</strong> </li>
                            <li>BE/B.Tech/Bsc(cse/IT)</li>
                            <li><strong>Experience :</strong></li>
                            <li>Fresher</li>
                            <li><strong>Location :</strong></li>
                            <li>Pondicherry</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a ui-sref="restricted.notifications.notifications_details" ng-click="registerForm($event)" class="md-btn md-btn-primary">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-bg-green-500 md-color-white">Mobile Application Developer</div>
                       <!--  <div class="pricing_table_price">
                            <span class="currency">$</span>20
                            <span class="period">monthly</span>
                        </div> -->
                        <ul class="pricing_table_features">
                            <li><strong>Post Name :</strong></li>
                            <li>Mobile Application Developer</li>
                            <li><strong>Eligibility :</strong> </li>
                            <li>BE/B.Tech/Bsc(cse/IT)</li>
                            <li><strong>Experience :</strong></li>
                            <li>Fresher/Experienced</li>
                            <li><strong>Location :</strong></li>
                            <li>Pondicherry</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a ui-sref="restricted.notifications.notificationsDetails" class="md-btn md-btn-primary">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-bg-blue-500 md-color-white">Front End Developer</div>
                        <!-- <div class="pricing_table_price">
                            <span class="currency">$</span>40
                            <span class="period">monthly</span>
                        </div> -->
                        <ul class="pricing_table_features">
                           <li><strong>Post Name :</strong></li>
                            <li>Front End Developer</li>
                            <li><strong>Eligibility :</strong> </li>
                            <li>BE/B.Tech/Bsc(cse/IT)</li>
                            <li><strong>Experience :</strong></li>
                            <li>0-4 years</li>
                            <li><strong>Location :</strong></li>
                            <li>Pondicherry</li>
                          
                            
                            
                        </ul>
                        <div class="pricing_table_select">
                            <a ui-sref="restricted.notifications.notifications_details" class="md-btn md-btn-primary">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-bg-red-600 md-color-white">UI Designer</div>
                        <!-- <div class="pricing_table_price">
                            <span class="currency">$</span>80
                            <span class="period">monthly</span>
                        </div> -->
                        <ul class="pricing_table_features">
                            <li><strong>Post Name :</strong></li>
                            <li>UI Designer</li>
                            <li><strong>Eligibility :</strong> </li>
                            <li>BE/B.Tech/Bsc(cse/IT)</li>
                            <li><strong>Experience :</strong></li>
                            <li>Fresher</li>
                            <li><strong>Location :</strong></li>
                            <li>Pondicherry</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a  ui-sref="restricted.notifications.notifications_details" class="md-btn md-btn-primary">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-bg-blue-600 md-color-white">Software Developer</div>
                        <!-- <div class="pricing_table_price">
                            <span class="currency">$</span>80
                            <span class="period">monthly</span>
                        </div> -->
                        <ul class="pricing_table_features">
                            <li><strong>Post Name :</strong></li>
                            <li>Software Developer</li>
                            <li><strong>Eligibility :</strong> </li>
                            <li>BE/B.Tech/Bsc(cse/IT)</li>
                            <li><strong>Experience :</strong></li>
                            <li>Fresher</li>
                            <li><strong>Location :</strong></li>
                            <li>Pondicherry</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a  ui-sref="restricted.notifications.notifications_details" class="md-btn md-btn-primary">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-bg-green-600 md-color-white">PHP Developer</div>
                        <!-- <div class="pricing_table_price">
                            <span class="currency">$</span>80
                            <span class="period">monthly</span>
                        </div> -->
                        <ul class="pricing_table_features">
                            <li><strong>Post Name :</strong></li>
                            <li>PHP Developer</li>
                            <li><strong>Eligibility :</strong> </li>
                            <li>BE/B.Tech/Bsc(cse/IT)</li>
                            <li><strong>Experience :</strong></li>
                            <li>Fresher</li>
                            <li><strong>Location :</strong></li>
                            <li>Pondicherry</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a  ui-sref="restricted.notifications.notifications_details" class="md-btn md-btn-primary">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-bg-brown-600 md-color-white">Software Testing</div>
                        <!-- <div class="pricing_table_price">
                            <span class="currency">$</span>80
                            <span class="period">monthly</span>
                        </div> -->
                        <ul class="pricing_table_features">
                            <li><strong>Post Name :</strong></li>
                            <li>Software Testing</li>
                            <li><strong>Eligibility :</strong> </li>
                            <li>BE/B.Tech/Bsc(cse/IT)</li>
                            <li><strong>Experience :</strong></li>
                            <li>Fresher</li>
                            <li><strong>Location :</strong></li>
                            <li>Pondicherry</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a  ui-sref="restricted.notifications.notifications_details" class="md-btn md-btn-primary">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-bg-green-600 md-color-white">Android Developer</div>
                        <!-- <div class="pricing_table_price">
                            <span class="currency">$</span>80
                            <span class="period">monthly</span>
                        </div> -->
                        <ul class="pricing_table_features">
                            <li><strong>Post Name :</strong></li>
                            <li>Android Developer</li>
                            <li><strong>Eligibility :</strong> </li>
                            <li>BE/B.Tech/Bsc(cse/IT)</li>
                            <li><strong>Experience :</strong></li>
                            <li>Fresher</li>
                            <li><strong>Location :</strong></li>
                            <li>Pondicherry</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a  ui-sref="restricted.notifications.notifications_details" class="md-btn md-btn-primary">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            angular
    .module('altairApp')
    .controller('loginCtrl', [
        '$scope',
        '$rootScope',
        'utils',
        function ($scope,$rootScope,utils) {

            $scope.registerFormActive = false;

            var $login_card = $('#login_card'),
                $login_form = $('#login_form'),
                $login_help = $('#login_help'),
                $register_form = $('#register_form'),
                $login_password_reset = $('#login_password_reset');

            // show login form (hide other forms)
            var login_form_show = function() {
                $login_form
                    .show()
                    .siblings()
                    .hide();
            };

            // show register form (hide other forms)
            var register_form_show = function() {
                $register_form
                    .show()
                    .siblings()
                    .hide();
            };

            

        }
    ]);
        </script>
        <!-- <div class="md-card" id="notificationDetails">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-bg-green-500 md-color-white">Mobile Application Developer</div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>20
                            <span class="period">monthly</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>Post Name :</strong></li>
                            <li>Mobile Application Developer</li>
                            <li><strong>Eligibility :</strong> </li>
                            <li>BE/B.Tech/Bsc(cse/IT)</li>
                            <li><strong>Experience :</strong></li>
                            <li>Fresher/Experienced</li>
                            <li><strong>Location :</strong></li>
                            <li>Pondicherry</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn md-btn-primary">More Details</a>
                        </div>
                    </div>
                </div> -->
        <!-- <div class="pricing_table pricing_table_b uk-grid uk-grid-small uk-grid-width-medium-1-2 uk-grid-width-large-1-4 uk-margin-large-bottom" data-uk-grid-margin data-uk-grid-match="{target:'.md-card-content'}">
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan">Plan 1</div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>0
                            <span class="period">monthly</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>512MB</strong> Memory</li>
                            <li><strong>1 Core</strong> Processor</li>
                            <li><strong>20GB</strong> SSD Disk</li>
                            <li><strong>1TB</strong> Transfer</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card md-card-success">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-color-green-400">Plan 2</div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>20
                            <span class="period">monthly</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>1 GB</strong> Memory</li>
                            <li><strong>1 Core</strong> Processor</li>
                            <li><strong>30GB</strong> SSD Disk</li>
                            <li><strong>2TB</strong> Transfer</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn md-btn-success">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card md-card-primary">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-color-blue-400">Plan 3</div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>40
                            <span class="period">monthly</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>4 GB</strong> Memory</li>
                            <li><strong>2 Core</strong> Processor</li>
                            <li><strong>60GB</strong> SSD Disk</li>
                            <li><strong>4TB</strong> Transfer</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn md-btn-primary">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card md-card-danger">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan md-color-red-600">Plan 4</div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>80
                            <span class="period">monthly</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>8 GB</strong> Memory</li>
                            <li><strong>4 Core</strong> Processor</li>
                            <li><strong>100GB</strong> SSD Disk</li>
                            <li><strong>5TB</strong> Transfer</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn md-btn-danger">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pricing_table pricing_table_c uk-grid uk-grid-small uk-grid-width-medium-1-2 uk-grid-width-large-1-4 uk-margin-large-bottom" data-uk-grid-margin data-uk-grid-match="{target:'.md-card-content'}">
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan"><i class="material-icons md-24 md-color-grey-500">&#xE83A;</i></div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>0<span class="period">/mo</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>512MB</strong> Memory</li>
                            <li><strong>1 Core</strong> Processor</li>
                            <li><strong>20GB</strong> SSD Disk</li>
                            <li><strong>1TB</strong> Transfer</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn md-btn-flat md-btn-flat-primary">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card md-bg-light-blue-600 md-color-white">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan"><i class="material-icons md-24 md-color-white">&#xE838;</i><i class="material-icons md-24 md-color-white">&#xE838;</i></div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>20<span class="period md-color-white">/mo</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>1 GB</strong> Memory</li>
                            <li><strong>1 Core</strong> Processor</li>
                            <li><strong>30GB</strong> SSD Disk</li>
                            <li><strong>2TB</strong> Transfer</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan"><i class="material-icons md-24 md-color-blue-500">&#xE83A;</i><i class="material-icons md-24 md-color-blue-500">&#xE83A;</i><i class="material-icons md-24 md-color-blue-500">&#xE83A;</i></div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>40<span class="period">/mo</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>4 GB</strong> Memory</li>
                            <li><strong>2 Core</strong> Processor</li>
                            <li><strong>60GB</strong> SSD Disk</li>
                            <li><strong>4TB</strong> Transfer</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn md-btn-flat md-btn-flat-primary">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-content padding-reset">
                        <div class="pricing_table_plan"><i class="material-icons md-24 md-color-red-600">&#xE83A;</i><i class="material-icons md-24 md-color-red-600">&#xE83A;</i><i class="material-icons md-24 md-color-red-600">&#xE83A;</i><i class="material-icons md-24 md-color-red-600">&#xE83A;</i></div>
                        <div class="pricing_table_price">
                            <span class="currency">$</span>80<span class="period">/mo</span>
                        </div>
                        <ul class="pricing_table_features">
                            <li><strong>8 GB</strong> Memory</li>
                            <li><strong>4 Core</strong> Processor</li>
                            <li><strong>100GB</strong> SSD Disk</li>
                            <li><strong>5TB</strong> Transfer</li>
                        </ul>
                        <div class="pricing_table_select">
                            <a href="#" class="md-btn md-btn-flat md-btn-flat-primary">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</div>
