    <div id="page_content">
        <div id="page_content_inner">

            <!--  <a  href="#snippet_new" data-uk-modal="{ center:true, bgclose:false, modal:false }"> -->
                <a ui-sref="restricted.layout.testcondition">
                <div class="uk-grid" data-uk-grid-margin>
                  <div class="uk-width-medium-2-6" ng-repeat="product in training_data">      <div class="md-card">
                            <img ng-src="{{ product.image }}" alt="{{ product.name }}" style='height: 200px;width: 400px;'>
                            <div class="md-card-content">
                              <strong>{{ product.name }}</strong><br>
                            </div>
                        </div>       
                  </div>
            </div></a>
          
       </div>
    </div>
       <!--  <div class="uk-modal" id="snippet_new" >
        <div class="uk-modal-dialog">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Test Details</h3>
            </div>
                    <div class="uk-grid uk-text-large">
                                <div class="uk-width-medium-1-2 parsley-row">
                                     <ul>
                                    <li class='uk-margin-bottom'>Time limit for the test is 30min.</li>
                                    <li class='uk-margin-bottom'>Each question carry one mark.</li>
                                    <li class='uk-margin-bottom'>No negative mark.</li>
                                    <li class='uk-margin-bottom'>Three type of questions is there Apptitude, Technical and Verbal Test.</li>
                                    <li class='uk-margin-bottom'>In apptitude there is 10 questions.</li>
                                   

                                </ul>   
                                </div>
                                <div class="uk-width-medium-1-2 parsley-row">
                                     <ul>
                                    <li class='uk-margin-bottom'>Time limit for the test is 30min.</li>
                                    <li class='uk-margin-bottom'>Each question carry one mark.</li>
                                    <li class='uk-margin-bottom'>No negative mark.</li>
                                    <li class='uk-margin-bottom'>Three type of questions is there Apptitude, Technical and Verbal Test.</li>
                                    <li class='uk-margin-bottom'>In apptitude there is 10 questions.</li>
                                   

                                </ul>   
                                </div>
                               
                                      
                            </div>
               
               
               
               
            
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button>
                    <button ng-click='testpage()' type="button" class="md-btn md-btn-flat md-btn-flat-primary uk-modal-close">Continue</button>
                </div>
            
        </div>
    </div>
 -->
