<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <div class="md-card">
                    <div class="md-card-content">
                        <p class="uk-text-upper uk-margin-small-bottom">Result</p>
<pre><code id="diff_result" class="large_code">Thank you for attend the online test and you will wait for result</code></pre>
                    </div>
                </div>
            </div>
        </div>