<div id="page_content">
    <div id="page_content_inner">
    
        

         
                <div class="md-card uk-margin-top" ng-repeat="page in allPages">
                    <div class="md-card-content">
                        <p class="uk-text-small uk-text-muted">About 124 results (0.70 seconds)</p>
                        
                                <h3 class="search_list_heading"><a ui-sref="{{ page.link }}">{{ page.title }}</a></h3>
                                <span class="search_list_link uk-text-truncate">{{ page.link }}</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur dolore et ex expedita hic maxime nobis quod quos repellat. Assumenda at atque magnam odit omnis quae quam quasi tempora! Ad explicabo illo incidunt laboriosam nostrum ratione totam voluptatum. Hic?</p>
                          
                    </div>
                </div>
            </div>
        </div>
              
         
           