    <div id="page_content">
        <div id="page_content_inner">
            <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
                <div class="uk-width-large-7-10">
                    <div class="md-card">
                        <div class="user_heading">
                            <!-- <div class="user_heading_menu" data-uk-dropdown="{pos:'bottom-right'}">
                                <i class="md-icon material-icons md-icon-light">&#xE5D4;</i>
                                <div class="uk-dropdown uk-dropdown-small">
                                    <ul class="uk-nav">
                                        <li><a href="#">Action 1</a></li>
                                        <li><a href="#">Action 2</a></li>
                                    </ul>
                                </div>
                            </div> -->
                            <div class="user_heading_avatar">
                                <div class="thumbnail">
                                    <img ng-src="{{user_data.avatar}}" alt="user avatar"/>
                                </div>
                            </div>
                            <div class="user_heading_content">
                            <!-- <div style="float:right">
                                <a class="md-btn md-btn-success md-btn-wave-light waves-effect waves-button waves-light" ui-sref="restricted.jobopeningsadmin.jobopeningsadminnew" href="#/jobopeningsadmin/jobopeningsadminnew"><i class="material-icons">&#xE150;</i> Edit Profile</a>
                                </div> -->
                                <h2 class="heading_b uk-margin-bottom">
                                    <span class="uk-text-truncate">H.Muhamed Musthak</span>
                                    <span class="sub-heading">B.E Computer Science and Engineering</span>
                                </h2>
                                
                                <ul class="user_stats">
                                    <li>
                                        <h4 class="heading_a">2016<span class="sub-heading">Year of passing</span></h4>
                                    </li>
                                    <li>
                                        <h4 class="heading_a">75.8%<span class="sub-heading">Percentage</span></h4>
                                    </li>
                                    <li>
                                        <h4 class="heading_a">Fresher<span class="sub-heading">Experience</span></h4>
                                    </li>
                                </ul>

                            </div>




                            <!-- <div>
                                <div class="uk-width-medium-1-6">
                                    <a class="md-btn md-btn-success md-btn-wave-light waves-effect waves-button waves-light" href="javascript:void(0)">Edit Profile</a>
                                </div>
                            </div> -->
                            <a class="md-fab md-fab-small md-fab-accent" ui-sref="restricted.pages.user_edit" data-uk-tooltip="{pos:'bottom'}" title="Edit Profile">
                                <i class="material-icons">&#xE150;</i>
                            </a>
                        </div>
                        <div class="user_content">
                            <ul id="user_profile_tabs" class="uk-tab" data-uk-tab="{connect:'#user_profile_tabs_content', animation:'slide-horizontal'}" data-uk-sticky="{ top: 48, media: 960 }">
                                <li class="uk-active"><a href="#">Personal Details</a></li>
                                <li><a href="#">Education Details</a></li>
                                <li><a href="#">Additional Details</a></li>
                            </ul>
                            <ul id="user_profile_tabs_content" class="uk-switcher uk-margin">
                                <li>
                                   
                                    <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                        <div class="uk-width-large-1-2">
                                            <h4 class="heading_c uk-margin-small-bottom">Personal Details</h4>
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-male"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Hassan</span>
                                                        <span class="uk-text-small uk-text-muted">Father Name</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                         <i class="md-list-addon-icon uk-icon-female"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Ayesha</span>
                                                        <span class="uk-text-small uk-text-muted">Mother Name</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                         <i class="md-list-addon-icon uk-icon-birthday-cake"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">07-03-1995</span>
                                                        <span class="uk-text-small uk-text-muted">Date of Birth</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                         <i class="md-list-addon-icon uk-icon-mars-double"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Male</span>
                                                        <span class="uk-text-small uk-text-muted">Gender</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-street-view"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Muslim</span>
                                                        <span class="uk-text-small uk-text-muted">Religion</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-flag"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Indian</span>
                                                        <span class="uk-text-small uk-text-muted">Nationality</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-language"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Tamil, English</span>
                                                        <span class="uk-text-small uk-text-muted">Languages Known</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>   
                                            <div class="uk-width-large-1-2">
                                            <h4 class="heading_c uk-margin-small-bottom">Contact Info</h4>
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">muhamedmusthak@cloudlogic.in</span>
                                                        <span class="uk-text-small uk-text-muted">Email</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">8124498572</span>
                                                        <span class="uk-text-small uk-text-muted">Contact</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-map-marker"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">No.5,RMK nager,Kandamangalam</span>
                                                        <span class="uk-text-small uk-text-muted">Addresss</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-map"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Pondicherry</span>
                                                        <span class="uk-text-small uk-text-muted">City</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-map-pin"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Pondicherry</span>
                                                        <span class="uk-text-small uk-text-muted">State</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-map-o"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">605620</span>
                                                        <span class="uk-text-small uk-text-muted">Pincode</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-flag-checkered"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">India</span>
                                                        <span class="uk-text-small uk-text-muted">Country</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>                       
                                    </div> 
                                   
                                                        
                                                
                                </li>
                                 <li>                                   
                                    <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                        <div class="uk-width-large-1-2">
                                            <h4 class="heading_c uk-margin-small-bottom">PG Details</h4>
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE563;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Roever Engineering College</span>
                                                        <span class="uk-text-small uk-text-muted">Institute Name</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE80c;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Computer Science and Engineering</span>
                                                        <span class="uk-text-small uk-text-muted">Department</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-percent"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">95.8%</span>
                                                        <span class="uk-text-small uk-text-muted">Percentage</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-calendar"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">2016</span>
                                                        <span class="uk-text-small uk-text-muted">Year of Passing</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>  
                                                   <div class="uk-width-large-1-2">
                                            <h4 class="heading_c uk-margin-small-bottom">UG Details</h4>
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE563;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Roever Engineering College</span>
                                                        <span class="uk-text-small uk-text-muted">Institute Name</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE80c;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Computer Science and Engineering</span>
                                                        <span class="uk-text-small uk-text-muted">Department</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-percent"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">95.8%</span>
                                                        <span class="uk-text-small uk-text-muted">Percentage</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-calendar"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">2016</span>
                                                        <span class="uk-text-small uk-text-muted">Year of Passing</span>
                                                    </div>
                                                </li>                                     
                                            </ul>
                                        </div>                                   
                                    </div>  
                                        <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                        <div class="uk-width-large-1-2">
                                            <h4 class="heading_c uk-margin-small-bottom">HSC/Diplomo Details</h4>
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE563;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">SAI Her.Sec.School</span>
                                                        <span class="uk-text-small uk-text-muted">Institute Name</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE80c;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Computer Science and Engineering</span>
                                                        <span class="uk-text-small uk-text-muted">Departmentt</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-percent"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">57%</span>
                                                        <span class="uk-text-small uk-text-muted">Percentage</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-calendar"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">2012</span>
                                                        <span class="uk-text-small uk-text-muted">Year of Passing</span>
                                                    </div>
                                                </li>                                
                                            </ul>
                                        </div>  
                                                   <div class="uk-width-large-1-2">
                                            <h4 class="heading_c uk-margin-small-bottom">SSLC Details</h4>
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE563;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">SAI Her.Sec.School</span>
                                                        <span class="uk-text-small uk-text-muted">Institute Name</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE80c;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">State Board</span>
                                                        <span class="uk-text-small uk-text-muted">Boad of Schooling</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-percent"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">75%</span>
                                                        <span class="uk-text-small uk-text-muted">Percentage</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-calendar"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">2010</span>
                                                        <span class="uk-text-small uk-text-muted">year of Passing</span>
                                                    </div>
                                                </li>                               
                                            </ul>
                                        </div>                                   
                                    </div>                       
                                </li>                  
                                <li>
                                    <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                        <div class="uk-width-large-1-2">
                                            <h4 class="heading_c uk-margin-small-bottom">Work Status</h4>
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE84F;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">cloudlogic Technology</span>
                                                        <span class="uk-text-small uk-text-muted">Company Name</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons">&#xE917;</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Trainee</span>
                                                        <span class="uk-text-small uk-text-muted">Role</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-calendar"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">3 Month</span>
                                                        <span class="uk-text-small uk-text-muted">Duration</span>
                                                    </div>
                                                </li>
                                                <!-- <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon uk-icon-map-pin"></i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Pondicherry</span>
                                                        <span class="uk-text-small uk-text-muted">City</span>
                                                    </div>
                                                </li>    -->                             
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                 <div class="uk-width-large-3-10">
                    <div class="md-card">
                        <div class="md-card-content">
                            <div class="uk-margin-medium-bottom">
                                <h3 class="heading_c uk-margin-bottom">Alerts</h3>
                                <ul class="md-list md-list-addon">
                                    <li ng-repeat="alert in user_data.alerts">
                                        <div class="md-list-addon-element">
                                            <i class="md-list-addon-icon material-icons uk-text-warning" ng-if="alert.type == 'warning'">&#xE8B2;</i>
                                            <i class="md-list-addon-icon material-icons uk-text-success" ng-if="alert.type == 'success'">&#xE88F;</i>
                                            <i class="md-list-addon-icon material-icons uk-text-danger" ng-if="alert.type == 'danger'">&#xE001;</i>
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading">{{alert.title}}</span>
                                            <span class="uk-text-small uk-text-muted uk-text-truncate">{{alert.content}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="heading_c uk-margin-bottom">Friends</h3>
                            <ul class="md-list md-list-addon uk-margin-bottom">
                                <li ng-repeat="friend in user_data.friends">
                                    <div class="md-list-addon-element">
                                        <img class="md-user-image md-list-addon-avatar" ng-src="{{friend.avatar}}" alt=""/>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">{{friend.name}}</span>
                                        <span class="uk-text-small uk-text-muted">{{friend.status}}</span>
                                    </div>
                                </li>
                            </ul>
                            <a class="md-btn md-btn-flat md-btn-flat-primary" href="#">Show all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
