<div id="page_content">
    <div id="page_content_inner">

        <div class="md-card uk-margin-large-bottom">
            <div class="md-card-content">
             <!--     <form id="basicview"> -->
                       <form id="wizard_advanced_form" class="uk-form-stacked">
                    <wizard on-finish="finishedWizard()" template="app/templates/wizard.tpl.html">
                        <wz-step wz-title="Peraonal details" template="app/templates/wizard.step.tpl.html">
                       
                            <h2 class="heading_a">
                                Peraonal details
                            </h2>
                            <hr class="md-hr"/>
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-2 parsley-row">
                                    <label for="wizard_firstname">First Name<span class="req">*</span></label>
                                    <input type="text" name="wizard_firstname" id="wizard_firstname" required class="md-input"  md-input ng-model="wizard.w1_firstname" />
                                </div>
                                <div class="uk-width-medium-1-2 parsley-row">
                                    <label for="wizard_lastname">Last Name<span class="req">*</span></label>
                                    <input type="text" name="wizard_lastname" id="wizard_lastname" required class="md-input"  md-input ng-model="wizard.w1_lastname" />
                                </div>
                            </div>
                            <div class="uk-grid">
                                <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="wizard_address">Address<span class="req">*</span></label>
                                    <input type="text" name="wizard_address" id="wizard_address" required class="md-input" md-input ng-model="wizard.w1_address" />
                                </div>
                                 <div class="uk-width-medium-1-3 parsley-row">
                                    <label for="wizard_city">City<span class="req">*</span></label>
                                    <input type="text" name="wizard_city" id="wizard_city" required class="md-input" md-input ng-model="wizard.w1_city" />
                                </div>
                                 <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-medium-1-2 parsley-row">
                                    <div class="md-card">
                                            <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail">
                                                    <img ng-src="assets/img/file.png" alt="user avatar"/>
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                                <div class="user_avatar_controls">
                                                        <span class="btn-file">
                                                            <span class="fileinput-new"><i class="material-icons">&#xE2C6;</i></span>
                                                            <span class="fileinput-exists"><i class="material-icons">&#xE86A;</i></span>
                                                            <input type="file" name="user_edit_avatar_control" id="user_edit_avatar_control">
                                                        </span>
                                                    <a href="#" class="btn-file fileinput-exists" data-dismiss="fileinput"><i class="material-icons">&#xE5CD;</i></a>
                                                </div>
                                            </div>
                                        </div>   
                                     </div>
                                                <div class="uk-width-medium-1-2 parsley-row">
                                    <div class="md-card">
                                            <div class="user_heading_avatar fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail">
                                                    <img ng-src="assets/img/avatars/user.png" alt="user avatar"/>
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                                <div class="user_avatar_controls">
                                                        <span class="btn-file">
                                                            <span class="fileinput-new"><i class="material-icons">&#xE2C6;</i></span>
                                                            <span class="fileinput-exists"><i class="material-icons">&#xE86A;</i></span>
                                                            <input type="file" name="user_edit_avatar_control" id="user_edit_avatar_control">
                                                        </span>
                                                    <a href="#" class="btn-file fileinput-exists" data-dismiss="fileinput"><i class="material-icons">&#xE5CD;</i></a>
                                                </div>
                                            </div>
                                        </div>   
                                     </div>
                                 </div>
                                     
                                </div>
                                <div class="uk-grid">
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <label for="wizard_pincode">PinCode<span class="req">*</span></label>
                                        <input type="text" name="wizard_pincode" id="wizard_pincode" required class="md-input" md-input ng-model="wizard.w1_pincode" />
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <label for="wizard_contact">Contact<span class="req">*</span></label>
                                        <input type="text" name="wizard_contact" id="wizard_contact" required class="md-input" md-input ng-model="wizard.w1_contact" />
                                    </div>
                                    <div class="uk-width-medium-1-3 parsley-row">
                                        <label for="wizard_language">Languages Known<span class="req">*</span></label>
                                        <input type="text" name="wizard_language" id="wizard_language" required class="md-input" md-input ng-model="wizard.w1_language" />
                                    </div>
                            </div>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next >Continue</button> 
                            </div>
                     
                        </wz-step>
                        <wz-step  wz-title="Education Deatails" template="app/templates/wizard.step.tpl.html">
                       <!--   <form id="wizard_advanced_form" class="uk-form-stacked"> -->
                            <h2 class="heading_a">
                                Education Deatails
                            </h2>
                            <h4>SSLC details</h4>
                            <hr class="md-hr"/>
                            <div class="uk-grid uk-grid-width-large-1-2 uk-grid-width-xlarge-1-4" data-uk-grid-margin>
                                <div class="parsley-row">
                                    <label for="wizard_institutionname1">Institution Name<span class="req">*</span></label>
                                    <input type="text" name="wizard_institutionname1" id="wizard_institutionname1" required class="md-input" md-input ng-model="wizard.w1_institutionname1" />
                                </div>
                                <div class="parsley-row">
                                <input config="selectize_val_config" options="selectize_val_options" ng-model="validation_form.selectize_heard"  required name="val_select" selectize />
                          
                                </div>
                                <div class="parsley-row">
                                    <label for="wizard_percentage1">Percentage<span class="req">*</span></label>
                                    <input type="text" name="wizard_percentage1" id="wizard_percentage1" required class="md-input"  md-input ng-model="wizard.w1_percentage1" />
                                </div>
                                <div class="parsley-row">
                                    <label for="wizard_passedout1">Year of Passing<span class="req">*</span></label>
                                    <input type="text" name="wizard_passedout1" id="wizard_passedout1" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="wizard.w1_passedout1" />
                                </div>
                            </div>
                             <h4>HSC/Diplomo details</h4>
                            <hr class="md-hr"/>
                            <div class="uk-grid uk-grid-width-large-1-2 uk-grid-width-xlarge-1-4" data-uk-grid-margin>
                                <div class="parsley-row">
                                    <label for="wizard_institutionname2">Institution Name<span class="req">*</span></label>
                                    <input type="text" name="wizard_institutionname2" id="wizard_institutionname2" required class="md-input" md-input ng-model="wizard.w1_institutionname2" />
                                </div>
                                 <div class="parsley-row">
                                    <label for="wizard_department2">Department<span class="req">*</span></label>
                                    <input type="text" name="wizard_department2" id="wizard_department2" required class="md-input" md-input ng-model="wizard.w1_department2" />
                                </div>
                               
                                <div class="parsley-row">
                                    <label for="wizard_percentage2">Percentage<span class="req">*</span></label>
                                    <input type="text" name="wizard_percentage2" id="wizard_percentage2" required class="md-input"  md-input ng-model="wizard.w1_percentage2" />
                                </div>
                                <div class="parsley-row">
                                    <label for="wizard_passedout2">Year of Passing<span class="req">*</span></label>
                                    <input type="text" name="wizard_passedout2" id="wizard_passedout2" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="wizard.w1_passedout2" />
                                </div>
                            </div>
                             <h4>UG details</h4>
                            <hr class="md-hr"/>
                            <div class="uk-grid uk-grid-width-large-1-2 uk-grid-width-xlarge-1-4" data-uk-grid-margin>
                                <div class="parsley-row">
                                    <label for="wizard_institutionname3">Institution Name<span class="req">*</span></label>
                                    <input type="text" name="wizard_institutionname3" id="wizard_institutionname3" required class="md-input" md-input ng-model="wizard.w1_institutionname3" />
                                </div>
                                 <div class="parsley-row">
                                    <label for="wizard_department3">Department<span class="req">*</span></label>
                                    <input type="text" name="wizard_department3" id="wizard_department3" required class="md-input" md-input ng-model="wizard.w1_department3" />
                                </div>
                                <div class="parsley-row">
                                    <label for="wizard_percentage3">Percentage<span class="req">*</span></label>
                                    <input type="text" name="wizard_percentage3" id="wizard_percentage3" required class="md-input"  md-input ng-model="wizard.w1_percentage3" />
                                </div>
                                <div class="parsley-row">
                                    <label for="wizard_passedout3">Year of Passing<span class="req">*</span></label>
                                    <input type="text" name="wizard_passedout3" id="wizard_passedout3" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="wizard.w1_passedout3" />
                                </div>
                            </div>
                             <h4>PG details</h4>
                            <hr class="md-hr"/>
                            <div class="uk-grid uk-grid-width-large-1-2 uk-grid-width-xlarge-1-4" data-uk-grid-margin>
                                <div class="parsley-row">
                                    <label for="wizard_institutionname4">Institution Name<span class="req">*</span></label>
                                    <input type="text" name="wizard_institutionname4" id="wizard_institutionname4" required class="md-input" md-input ng-model="wizard.w1_institutionname4" />
                                </div>
                                 <div class="parsley-row">
                                    <label for="wizard_department4">Department<span class="req">*</span></label>
                                    <input type="text" name="wizard_department4" id="wizard_department4" required class="md-input" md-input ng-model="wizard.w1_department4" />
                                </div>
                                <div class="parsley-row">
                                    <label for="wizard_percentage4">Percentage<span class="req">*</span></label>
                                    <input type="text" name="wizard_percentage4" id="wizard_percentage4" required class="md-input"  md-input ng-model="wizard.w1_percentage4" />
                                </div>
                                <div class="parsley-row">
                                    <label for="wizard_passedout4">Year of Passing<span class="req">*</span></label>
                                    <input type="text" name="wizard_passedout4" id="wizard_passedout4" required class="md-input" data-parsley-americandate data-parsley-americandate-message="This value should be a valid date (MM.DD.YYYY)" data-uk-datepicker="{format:'MM.DD.YYYY'}" md-input ng-model="wizard.w1_passedout4" />
                                </div>
                            </div>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-flat md-btn-flat-primary uk-float-left" type="submit" wz-previous>Back</button>
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next >Continue</button>
                            </div>
                     <!--    </form> -->
                        </wz-step>
                        <wz-step wz-title="Additional information" template="app/templates/wizard.step.tpl.html">
                         <!--  <form id="wizard_advanced_form" class="uk-form-stacked"> -->
                            <h2 class="heading_a">Additional information</h2>
                            <h4>Working Experience</h4>
                            <hr class="md-hr"/>
                            <div class="uk-grid" data-uk-grid-margin>
                                <div class="uk-width-large-1-1">                    
                                                <div class="uk-grid uk-grid-medium form_hr" data-uk-grid-match ng-repeat="(topParent,section) in form_dynamic track by $index">
                                                    <div class="uk-width-1-2 uk-width-medium-9-10">
                                                        <div class="uk-grid" ng-repeat="fields in section" on-last-repeat>
                                                            <div class="uk-width-1-1" ng-if="$parent.$index == 0" ng-repeat="input in fields" >
                                                                 <div class="parsley-row">
                                                                    <label for="wizard_companyname">Company Name<span class="req">*</span></label>
                                                                   <input type="text" name="wizard_companyname" id="wizard_companyname" required class="md-input" md-input ng-model="wizard.w1_companyname" />
                                                                </div>
                                                            </div>
                                                             <div class="uk-width-medium-1-2" ng-if="$parent.$index == 1" ng-repeat="input in fields">
                                                                <div class="parsley-row">
                                                                    <label for="wizard_role">Role<span class="req">*</span></label>
                                                                   <input type="text" name="wizard_role" id="wizard_role" required class="md-input" md-input ng-model="wizard.w1_role" />
                                                                </div>

                                                            </div>
                                                            <div class="uk-width-medium-1-2" ng-if="$parent.$index == 1" ng-repeat="input in fields">
                                                                <div class="parsley-row">
                                                                    <label for="wizard_year">Duration<span class="req">*</span></label>
                                                                   <input type="text" name="wizard_year" id="wizard_year" required class="md-input" md-input ng-model="wizard.w1_year" />
                                                                </div>
                                                                
                                                            </div>
                                                             
                                                        </div>
                                                    </div>
                                                    <div class="uk-width-2-10 uk-width-medium-1-10 uk-text-center">
                                                        <div class="uk-vertical-align uk-height-1-1">
                                                            <div class="uk-vertical-align-middle">
                                                                <a href="javascript:void(0)" ng-click="cloneSection($event,$index)" ng-if="$last"><i class="material-icons md-36">&#xE146;</i></a>
                                                                <a href="javascript:void(0)" ng-click="deleteSection($event,$index)" ng-if="!$last"><i class="material-icons md-36">&#xE872;</i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 
                                        </div>
                            </div>
                            <div class="uk-clearfix uk-margin-large-top">
                                <button class="md-btn md-btn-flat md-btn-flat-primary uk-float-left" type="submit" wz-previous>Back</button>
                                <button class="md-btn md-btn-primary uk-float-right" type="submit" wz-next >Submit</button>
                            </div>
                            <!--  </form> -->
                        </wz-step>

                    </wizard>           
            </div>
        </div>
         </form>
    </div>
</div>
