<div id="top_bar">
    <div class="md-top-bar">
        <!-- <div class="uk-width-large-8-10 uk-container-center">
            <ul class="top_bar_nav" id="list_grid_toggle">
                <li ng-click="changeView($event,'grid')" ng-class="{ 'uk-active': grid_view }">
                    <a ui-sref="restricted.test.test_view"><i class="uk-icon-list"></i> List</a>
                </li>
                <li ng-click="changeView($event,'list')" ng-class="{ 'uk-active': list_view }">
                    <a ui-sref="restricted.test.test_list"><i class="uk-icon-th-large"></i> Grid</a>
                </li>
            </ul>
        </div> -->

    </div>
</div>

<div id="page_content">
    <div id="page_content_inner">

        <h3 class="heading_b uk-margin-bottom">Test Categories
        <!-- <span style="float: right;font-size:18px;"><a ui-sref="restricted.student.student_list"><i class="uk-icon-list"></i></a></span> -->
        </h3>
        <div class="md-card uk-margin-medium-bottom">
        


            <div class="md-card-content large-padding" ng-controller="testviewCtrl as showCase">
            <div class="uk-text-right">
<button class="md-btn md-btn-primary md-btn-small " ui-sref="restricted.test.test_add" data-uk-modal="{target:'#modal_overflow'}">
<i class="uk-icon-plus"></i>
Add Test
</button>
</div>
                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="uk-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Category Name</th>
                            <th>Questions</th>
                           <!--  <th>Course</th> -->
                            <!-- <th>Status</th> -->
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <!-- <th>Admission No</th>
                            <th>Course</th> -->
                            <!-- <th>Status</th> -->
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="row in showCase.dt_data">
                            <td>{{$index+1}}</td>
                            <td>{{row.categoryname}} </td>
                            <td>{{row.questions}}</td>
                            <!-- <td>{{row.course}}</td> -->
                            <!-- <td><span class="uk-badge" ng-class="{
                                        'uk-badge-success':row.status == 'Enabled',
                                        'uk-badge-danger':row.status == 'Disabled',
                                        }">
                                        {{row.status}}
                                    </span></td> -->
                            <td class="uk-text-center">
                                <!-- <a ui-sref="restricted.test.test_view" class="ts_remove_row"><i class="md-icon material-icons">&#xE417;</i></a> -->
                                <a ui-sref="restricted.test.test_editprofile({cat_id:{{row.id}}})" class="ts_remove_row"><i class="md-icon material-icons">&#xE254;</i></a>
                                <a href="#" class="ts_remove_row" ng-click="ts_remove_item($event,item)"><i class="md-icon material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
